{% render 'partials/head.liquid' %}
 
 <header>
    <nav class="topnav">
      <img src="/assets/DDAlogo.png" alt="logo" class="logo">

       <button class="showmore">
        <a href="https://dutchdigitalagencies.com/">Home</a>


    </nav>
  </header>

 <main class="main">
     <h1>Gelukt!</h1>
     <p>Wij hebben uw solicitatie binnen en nemen zo snel mogelijk contact op.</p>
 </main>


 
 {% render 'partials/footer.liquid' %}