{% render 'partials/head.liquid', title: 'Vacatures' %}

<header>
    <nav class="topnav">
      <img src="/assets/DDAlogo.png" alt="logo" class="logo">

       <div class="home">
        <a href="https://dutchdigitalagencies.com/">Home</a>
        </div>


    </nav>
  </header>

  <header class="titles">
    <h1>ONZE VACATURES</h1>
    <p>Verslim je carrière bij de beste digitale bureaus van Nederland.<br>
     Pak je rol als developer of designer, researcher, als scrum master of marketeer,
     als strateeg.<br> Start of groei door – en laat zien wat je kan.</p>
  </header>


<form>
    <input type="text" class="zoek" id="search" name="search" placeholder="Zoek een vacature..."
    >
    <div "buttons">
    <select class="button">
        <option value="all">Expertise</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
    <select class="button">
        <option value="all">Uren</option>
        <option value="vol">Voltijd 38-40 uur</option>
        <option value="deel">Deeltijd 16-24 uur</option>
        <option value="stage">Stage</option>

    </select>
    <select class="button">
        <option value="all">Locatie</option>
        <option value="ams">Amsterdam</option>
        <option value="dh">Den Haag</option>
        <option value="ut">Utrecht</option>
        <option value="bre">Breda</option>
        <option value="hfd">Hooftdorp</option>
    </select>
    <select class="button">
        <option value="all">Taal</option>
        <option value="En">Engels</option>
        <option value="Nl">Nederlands</option>
    </select>
    </div>
</form>

<main class="gridview">
    <ul>
        {% for vacature in vacatures %}
        <li>
         <h3 class="title">{{vacature.title}}</h3>
         <a href="{{vacature.photo}}"> </a>
            <h4 class="title"><span>{{vacature.hours}} </span> Uur - <span> {{vacature.locatie}}</span> </h4>
            <button id="showingmore" class="showmore">Meer zien</button>
            <section class="speakerinfo">
            <div class="container">
        <p> Vacature description - Als Strateeg ben je de schakel tussen klantdoelstellingen, marktkansen en creatieve oplossingen. 
        Je duikt in data en trends, zet strategische lijnen uit en helpt klanten hun doelen te bereiken. Je werkt samen met een team 
        van digital consultants, projectmanagers, customer success managers, marketeers, creatieven en developers om strategieën niet 
        alleen te bedenken, maar ook echt tot leven te brengen. <br>
        </br>
Je hebt al een aantal jaar ervaring in strategie, maar nog belangrijker: je voelt feilloos aan wat werkt en hoe je strategische kansen kunt benutten.
 Je bent sterk in stakeholdermanagement en weet verschillende belangen te overbruggen om tot de beste oplossingen te komen. Jij bent de 
 verbindende factor tussen klantdoelstellingen, marktkansen en creativiteit.
        </p>
        {% render 'partials/soliciteer.liquid' %}



    {% comment %}
<!-- If verstuur is successful, show gelukt.liquid
{% if verstuur  == "true" %}
show gelukt
{% elsif  == "name error" %}
have you entered your name correctly?
{% else == "email error" %}
have you entered your email address correctly?
{% endif %}
{% endcomment %}

  </section>
</li>

</div>

        <form>
        </form>
        {% endfor %}
    </ul>
</main>

</script>
{% render 'partials/footer.liquid' %}