body {
    padding: 5px; 
    border: 1px solid black;
    margin: 0 auto;
    max-width: 97%;
}

@media (min-width: 1000px) {
    body {
        max-width: 100%;
        padding: 10px;
        p {
            font-size: 16px; 
        }
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size:1.125rem;
        line-height: 2rem
    }
  
    h1 {
        font-size: 6rem;
        line-height: 6rem
    }
  
    h2 {
        font-size: 4rem;
        line-height: 4rem
    }
  
    h3 {
        font-size: 3rem;
        line-height: 3rem
    }
  
    h4 {
        font-size: 2rem;
        line-height: 2.5rem
    }
  
    h5,h6 {
        font-size: 1.25rem;
        line-height: 2.5rem
    }
  }
  
  /* Header bar */
  .topnav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding-bottom: 50px;
}

.topnav img {
    height: 180px; 
    width: auto; 
}

.home {
    display: flex; 
    align-items: center;
    text-align: center;
    margin-left: 10rem;
    border: 1px solid var(--black);
    
}

.topnav a {
    margin-left: 10px; 
    text-decoration: none; 
    color: black; 
    font-family: 'MartianMono';
    font-size: var(--font-size-links);
    font-weight: var(--standard-font-weight);
    text-transform: uppercase;

}


@media (max-width: 750px) {
    .topnav {
        flex-direction: row; 
        justify-content: space-between; 
        padding-bottom: 30px;
    }

    }
.titles{
    text-align: center;
    h1 {
        font-size: var(--font-size-xl);
    }

    p {
        font-size: var(--font-size-paragraph);
        margin: 0 auto;
        padding: 10px; 
    }

    a {
        font-size: var(--font-size-paragraph);
        color: black;
    }
}

@media (min-width: 750px) {
    .titles{
        padding-top: 20px;
        h1 {
            font-size: var(--font-size-xxl);
        }
        p {
            font-size: var(--font-size-paragraph);
        }
    }
}

  
.main{
    text-align: center;
    font-family: (--font-family-mono);
    h1 {
        font-size: var(--font-size-l);
    }

    p {
        font-size: var(--font-size-paragraph);
        margin: 0 auto;
        padding: 10px; 
    }

    a {
        font-size: var(--font-size-paragraph);
        color: black;
    }
}

.gridview {

   
    article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    img {
        border: var(--color-black) 2px solid;
        width: 330px;
        height: 500px;
    }

}

@media (min-width: 750px) {
    .main{
        padding-top: 20px;
        h1 {
            font-size: var(--font-size-xxl);
        }
        p {
            font-size: var(--font-size-sm);
        }
    }
}

.titles {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    border-bottom: var(--color-black) 2px solid;
    h1 {
        font-family: var(--font-family-regular);
        display:flex;
        justify-content: center;
    }

    p {
        text-align: center;
        margin: var(--spacing-16);
    }
}


.title {
    display: flex;
    text-align: center; 
    justify-content: space-between; 

}



.label {
    font-size: var(--size-sm);
    font-family: var(--secondary-font);
    font-weight: 300;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    padding: 0 4px;
    color: #000000;
  }

  .zoek {
  font-size: var(--size-sm);
  font-family: var(--secondary-font);
  font-weight: 300;
  letter-spacing: -0.06em;
  border: 1px solid var(--black);
  text-transform: uppercase;
  padding: 0 4px;
  border: 1px solid transparent;
  padding-block: var(--spacing-12);
  padding-inline: 0px;
  border-block-end-color: var(--color-black);
  width: 20%;
  font-size: 1.125rem;
  line-height: 1.5rem;
  }

.button {
    justify-content: left;
    border: var(--border);
    background-color: var(--white);
    font-family: var(--font-family-mono);
    width: fit-content;
    color: rgb(0, 0, 0);
    font-weight: 300;
    letter-spacing: -0.06em;
    border: 1px solid var(--black);
    text-transform: uppercase;
    padding: 0 4px;
    border: 1px solid transparent;
    padding-block: var(--spacing-12);
    padding-inline: 0px;
    border-block-end-color: var(--color-black);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

/* FOOTER */

.footer {
    display: grid;
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family-mono);
    font-weight: var(--regular-font-weight);
    line-height: 24px;
    letter-spacing: var(--letter-spacing-main);

    img{
        display: block;
        height: 75px;
        width: auto;
        padding-left: 5px;

    }
}

.footer_logo {
    display: block;
    height: 80px;
    width: auto;
    padding-top: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

    a {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        text-decoration: underline;
        color: blue;
        font-family: 'MartianMono';
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 5px;
    }
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    ul{
        list-style-type: none;
        padding: 0; 
        margin: 10px;
        text-align: left;
    }

    li{
        margin-bottom: 1em;
    }

    a{
        color: black;
    }

}

.footer_address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: var(--spacing-24);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 5px;
    text-decoration: none;
    text-align: left;
    list-style-type:none;
}

.footer_socials {
    display: flex;
    gap: var(--spacing-16);
    list-style: none;
    margin: 0;
    padding: 0
}

.footer_bottom {
    align-items: center;
    display: flex;
    gap: var(--spacing-24);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    padding-right: 10px;

    p{
        font-size: 16px;
    }
}

@media screen and (min-width: 890px) {
    .footer .column {
        padding:var(--spacing-48)
    }
}





@media (min-width: 1000px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; 
        grid-gap: 0px;
        align-items: stretch; 
        width: 100%;
    }

    .footer_logo img {
        width: 100px; 
        height: auto; 
        padding-left: 5px;
    }

    .footer_logo,
    .footer_links,
    .footer_address {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between; 
        border: 1px solid black; 
        padding: 10px;
    }
}

.footer_socials{
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: var(--font-size-paragraph);
    font-family: var(--main-font);
    font-weight: var(--regular-font-weight);
    line-height: 24px;
    letter-spacing: var(--letter-spacing-main);
    padding-top: 15px;
    padding-left: 10px;

    a{
        text-decoration: underline;
    }
}


.footer_bottom{
    margin-left: auto;
    padding-right: 10px;

    p{
        font-size: 16px;
    }
}